/* Index, Menu y footer de todas las paginas */

body{
    margin: 0;
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
}

main{
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #fcf6b1;
}

.menu{
    display: flex;
    list-style-type: none;
}

.menuItemsblue{
    color: #6c91bf;
    text-decoration: none;
    padding-right: 50px;
}

.menuItemsviolet{
    color: #c59fc9;
    text-decoration: none;
    padding-right: 50px;
}

.imgLogo{
    display: flex;
    align-items: center;
    height: 100px;
}

.indeximgtop{
    width: 100%;
    height: 500px;
    position: absolute;
}

.h1Imgtop{
    margin: 0%;
    font-size: 70px;
    padding-top: 200px;
    text-align: center;
    position: relative;
    color: white;
}


.indexCol1{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20%;
    padding: 50px;
}

.h1index{
    padding-top: 100px;
    padding-right: 50px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.pIndexCol1{
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 50px;
    font-size: large;
}

.imgindex1{
    width: 300px;
    height: 400px;
    margin-right: 10px;
}

.indexCol2{
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: large;
}

.pIndexCol2{
    display: flex;
    justify-content: space-evenly;
    margin: 40px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: large;
}


.h2index{
    margin-top: 10%;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-size: 400%;
    font-style: normal;
    text-align: center;
    margin-bottom: 0%;
}

.pIndexCol2{
    font-family: "Barlow", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
    text-align: center;
}

.imgindex2,.imgindex3,.imgindex4{
    width: 300px;
    height: 400px;
}

.footer{
    margin-top: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #fcf6b1;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;   
}

a{    text-decoration: none;}


/* Alquilar */

.casilla{
    margin: 5%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: whitesmoke;
    height: 400px;
    display: flex;
    align-items: center;
}

.imgalquiler1,.imgalquiler2,.imgalquiler3,.imgalquiler4{
    padding-right: 5%;
    width: 500px;
    height: 400px;
}
.datos{
    height: 400px;
}

.datos h4{
    font-size: xx-large;
}

.precio{
    display: flex;
    justify-content: start;
}

.precio p{
    padding-top: 35px;
    padding-left: 10px;
}

.detalles{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.caracteristicas{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 45px;
}

.caracteristicas a,h5{
    margin-right: 3%;
}

.caracteristicas img{
    width: 40px;
    height: 40px;
}

/*  Quienes somos */

.h2quienes-somos{
    padding-top: 100px;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 40px;
    width: 720px;
    line-height: 1.1em;
    color: #202020;
    letter-spacing: 3px;
    text-shadow: 1px 1px #5c5c5c;

 }
 .mainquienes-somos{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    line-height: 30px;
    color: #8d8b8b;
    padding-top: 2%;

}

.mainquienes-somos p{
    margin-left: 15%;
    margin-right: 15%;
}

.img1-quienes-somos,.img2-quienes-somos,.img3-quienes-somos,.img4-quienes-somos{
    width: 500px;
}

.container-img-somos{
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10%;
}


.container-img-somos{
    display: flex;
    width: 100%;
}

/*Contacto*/

.contactCol {
    display: flex;
    align-items: flex-start;
    padding: 50px;
}

.contactDiv {
    flex: 1;
    padding-right: 20px; 
    padding-left: 20px;
    text-align: center;
    font-size: large;
}

.imgcontact {
    width: 50%;
    align-self: flex-start; 
}

.pgts{
    padding: 10px;
    margin-bottom: 20px;
}

.form{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding:20px;
}

.form button{
    margin-top: 5%;
}

.footerContact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #fcf6b1;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;   
}

/*Contacto jQuery*/
#conteiner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 500px;
    height: 350px;
    padding: 2%;
    margin: 5%;
    margin-left: 500px;

    font-size: x-large;
    background-color: #fcf6b1;
    border-radius: 5px;
}

#btnCerrar {
    padding: 10px 20px;
    background-color: #6c91bf;
    border: none;
    color: white;
    font-size: medium;
    font-family: 'Arial', sans-serif;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
